header {
    background-image: linear-gradient(to right, #496DBE, #200551);
    color: white;
}

#cityQuery {
    margin-bottom: 5px;
}

#searchButton{
    margin-bottom: 5px;
}

.btn-secondary {
    margin-bottom: 5px;
}

.forecast {
    background-color: #384659;
    color: #fff;
    display: inline-block;
    float: none;
}

.low {
    background-color: #5da541;
    color: white;
    border-radius: 3px;
    padding: 3px 5px 3px 5px;
}
.moderate {
    background-color: #fdf351;
    color: white;
    border-radius: 3px;
    padding: 3px 5px 3px 5px;
}
.high {
    background-color: #e39033;
    color: white;
    border-radius: 3px;
    padding: 3px 5px 3px 5px;
}
.veryhigh {
    background-color: #d34327;
    color: white;
    border-radius: 3px;
    padding: 3px 5px 3px 5px;
}
.extreme {
    background-color: #aa6ba1;
    color: white;
    border-radius: 3px;
    padding: 3px 5px 3px 5px;
}