header {
    background-image: linear-gradient(to right, #496DBE, #200551);
    color: white;
}

.scrollbar {
    overflow: auto;
    white-space: nowrap;
}

.forecast {
    background-color: #384659;
    color: #fff;
    display: inline-block;
    float: none;
}