* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-image: linear-gradient(to right, cornflowerblue, midnightblue);
    color: white;
}

h2 {
    text-align: center;
    padding: 5px;
}

.h4 {
    font-weight: 700;
}